{% extends '::base.html.twig' %}

{% block body -%}
<h1>Thought list</h1>

<table class="records_list table table-hover">
    <thead>
        <tr>
            <th>Created</th>
            <th>Title</th>                            
            <th>Contentchanged</th>
            <th>Public</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td><a href="{{ path('t_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>                
            <td>{% if entity.contentChanged %}{{ entity.contentChanged|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                {% if entity.public %}
                <i class="fa fa-check-square-o"></i>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-mini" href="{{ path('t_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="btn btn-mini" href="{{ path('immablog_thought',{'slug':entity.slug, '_format':'html'}) }}" target="_blank"><i class="fa fa-external-link"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="control-group">
    <a class="btn" href="{{ path('t_new') }}">
        Create a new entry
    </a>
</div>
{% endblock %}
