{% extends '::base.html.twig' %}
{% block title %}{{'immablog.title' |trans}}{% endblock %}

{% block body -%}
{{ form_start(form) }}
<div class='row-fluid'>
    <legend>{{'immablog.content-editor' |trans}}</legend>
    <label class='checkbox'>
        {{ form_widget(form.public) }} {{ form_label(form.public) }}
    </label>
</div>
<div class='row-fluid'>
    <div class="span12"
         <div class="control-group">
            <label class="control-label">{{ form_label(form.parent) }}</label>
            <div class="controls">
                <span class='error'>{{ form_errors(form.parent) }}</span>
                {{ form_widget(form.parent) }}
            </div>
        </div>    
    </div>
    <div class='row-fluid'>
        <div class="span12">
            <div class="control-group">
                <label class="control-label">{{ form_label(form.title) }}</label>
                <div class="controls">
                    <span class='error'>{{ form_errors(form.title) }}</span>
                    {{ form_widget(form.title,{ 'attr': {'class': 'span12'} }) }}
                </div>
            </div>    
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            <div class="control-group">
                <label class="control-label">{{ form_label(form.abstract) }}</label>
                <div class="controls" id="collapse-abstract">
                    <span class='error'>{{ form_errors(form.abstract) }}</span>
                    {{ form_widget(form.abstract,{ 'attr': {'class': 'span12'} }) }}
                </div>
            </div>  
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            <div class="control-group">
                <label class="control-label">{{ form_label(form.content) }}</label>
                <div class="controls"  id="collapse-content">
                    <span class='error'>{{ form_errors(form.content) }}</span>
                    {{ form_widget(form.content,{ 'attr': {'class': 'span12'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            {{ form_widget(form._token) }}
            <div class="form-actions">
                {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-primary'} }) }}
            </div>


        </div>
    </div>
    {{ form_end(form) }}
    {% endblock %}
