<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' type='text/css' href="{{ asset('css/font-awesome.min.css')}}">
        <link rel="stylesheet" type='text/css' href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" type='text/css' href="{{ asset('css/bootstrap_responsive_2.css') }}">

        {% stylesheets '@NachoBritoThoughtsBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}        
        {% block extra_css %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row-fluid">
                <div class="span3">

                </div>
                <div class="span9">
                    {% set path = app.request.attributes.get('_route')%}
                    <ul class="nav">                                
                        {% block navlinks %}{% endblock %}
                        {% if is_granted('ROLE_ADMIN') %}                                
                        <li {% if path=='t' %}class="active"{%endif%} class="pull-right">
                            <a href="{{path('t')}}" title="{{'immablog.manage'|trans}}">
                                <i class="fa fa-cogs"></i>
                            </a>
                        </li>
                        <li class="pull-right">
                            <a href="{{ path('fos_user_security_logout') }}" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="dropdown pull-right">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" title="{{'immablog.signin' | trans}}"><i class="icon-user"></i> <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                    <label for="username">{{ 'security.login.username'|trans }}</label>
                                    <input type="text" id="username" name="_username" value="" required="required" />

                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" id="password" name="_password" required="required" />

                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                                    <input class="btn btn-mini btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                </form>                                        
                            </div>
                        </li> 
                        {% endif %}
                        <li class="pull-right"><a href="#">{{'immablog.contact'|trans}}</a></li>                               
                    </ul>
                </div>
            </div> 
            {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
            <div class="row-fluid flash-{{ type }}">
                <div class="span10 offset1">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}            
            <hr>

            <div class="footer">
                <p>
                    &copy; Nacho Brito.
                    Thanks to:
                    <a href='http://www.symfony.com' target='_blank'>Symfony</a>,
                    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
                    {# <a href="http://bootswatch.com/cosmo/" target="_blank">Bootswatch</a>,#}
                    <a href="http://jquery.com/" target="_blank">JQuery</a> and many others for creating such an amazing set of tools.
                </p>
            </div>

        </div> <!-- /container -->                        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>

        {% javascripts '@NachoBritoThoughtsBundle/Resources/public/js/general/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
