<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('css/boot_cosmo.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap_responsive_2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/nachobritothoughts/css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <h3 class="muted" id="logo">
                    <span id="l1">Nacho</span> <span id="l2">Brito</span>
                </h3>
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Downloads</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.navbar -->
            </div>            
            {% block body %}{% endblock %}
            <hr>

            <div class="footer">
                <p>&copy; Nacho Brito.</p>
            </div>

        </div> <!-- /container -->                        

        {% block javascripts %}{% endblock %}       
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
