{% extends '::base.html.twig' %}
{% block title %}{{'immablog.title' |trans}}{% endblock %}

{% block extra_css %}
<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="home-author-left">        
    {% include 'NachoBritoThoughtsBundle:Default:author.html.twig'%}
</div>
<div class="row-fluid" id="immablog-main">
    <div class="span12">
        <div class="row-fluid">
            <div class="span8 offset2" id="immablog-thoughts">
                <div id="home-author-top">        
                    {% include 'NachoBritoThoughtsBundle:Default:author.html.twig'%}
                </div>
                {% if thoughts %}
                {% for entry in thoughts %}
                <div class="home_thought">
                    <p class='muted'>
                        {{entry.created|date()}}
                    </p>
                    <a href="{{ path('immablog_thought',{'slug':entry.slug, '_format':'html'}) }}" class="thought">
                        <h2>{{ entry.title }}</h2>
                        <p>{{ entry.abstractHTML | raw }}</p>
                    </a>
                </div>               
                {% endfor %}
                {% endif %}
            </div>
            <div class="span3" >

            </div>
        </div>
    </div>
</div>

{% endblock %}