{% extends '::base.html.twig' %}
{% block title %}{{'immablog.title' |trans}}{% endblock %}

{% block navlinks %}
<li><a href="#">{{'immablog.contact'|trans}}</a></li>                               
<li><a href="#">{{'immablog.about'|trans}}</a></li>

{% endblock %}

{% block body %}

{% if thoughts %}
    {% for entry in thoughts %}
    <div class="row-fluid">
        <div class="span2">
            <span class='label label-success'>
                {{entry.created|date()}}
            </span>
        </div>
        <div class="span10">

            <h2>{{ entry.title }}</h2>
            <p>{{ entry.content | raw }}</p>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}