{% extends '::base.html.twig' %}
{% block title %}{{'immablog.title' |trans}}{% endblock %}

{% block navlinks %}
<li><a href="#">{{'immablog.contact'|trans}}</a></li>                               
<li><a href="#">{{'immablog.about'|trans}}</a></li>

{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span11">

                {% if thoughts %}
                {% for entry in thoughts %}
                <div class="row-fluid">
                    <div class="span3">
                        <span class='label label-success'>
                            {{entry.created|date()}}
                        </span>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('immablog_home',{'slug':entry.slug}) }}" class="btn">{{ 'immablog.edit-thought' |trans}}</a>
                        {% endif %}
                    </div>
                    <div class="span8">
                        <a href="{{ path('immablog_home',{'slug':entry.slug}) }}">
                        <h2>{{ entry.title }}</h2>
                        <p>{{ entry.abstract | raw }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
            <div class="span1" style="background: red">

            </div>
        </div>






    </div>
</div>
{% endblock %}