{% extends 'NachoBritoThoughtsBundle:Default:index.html.twig' %}

{% block title %}{{ thought.title }}{% endblock %}

{% block body %}
<div class="row-fluid" id="immablog-main">
    <div class="span9">
        <div class="row-fluid">
            <div class="span12" id="immablog-single-thought">
                <article>
                    <h1>{{ thought.title }}</h1>
                    <div class="abstract">
                        {{ thought.abstractHTML | raw }}
                    </div>
                    {{ thought.contentHTML | raw }}
                </article>

            </div>
        </div>

    </div>
    <div class="span3">
        <div id="thought-children" data-spy="affix" data-offset-top="200">
            <aside>
                <h3><i class='fa fa-comments-o'></i> {{'immablog.thought.comments'|transchoice(thought.children.count, {})}}</h3>                
                <div>
                <a class='btn-link'><i class='fa fa-comment'></i> <span>{{'immablog.thought.comments.new'|trans  }}</span></a>                
                </div>
                {% if thought.children %}
                {% for entry in thought.children %}
                {{ include('NachoBritoThoughtsBundle:Default:comment.html.twig', {'thought': entry}) }}
                {% endfor %}
                {% endif %}                
            </aside>
        </div>        
    </div>
</div>
{% endblock %}
